/python/data/cities.py
.idea
.venv
/python/homeWork/DZ1py.py
/python/homeWork/DZ2.py
/python/homeWork/DZ3.py
/python/homeWork/DZ4.1.py
/python/homeWork/DZ4.py
/python/homeWork/DZ5.py
/python/homeWork/DZ6.py
/python/homeWork/DZ7.1.py
/python/homeWork/DZ7.py
/python/homeWork/lessjn12.py
/python/lesson1.py
/python/lesson3.py
/python/lesson4.py
/python/lesson9.py
/python/lesson 13.py
/python/homeWork/main.py
/python/data/marvel.py
/.idea/misc.xml
/.idea/modules.xml
/python/myLesson14.py
/python/myLesson15.py
/python/myLesson16.py
/python/myLesson18.py
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/pythonProject.iml
/.idea/vcs.xml
/.idea/workspace.xml
